li {
  list-style-type: none;
}

.container {
  max-width: 1430px;
}

header .container {
  position: relative;
}

header .wrap {
  position: relative;
}

header .wrap nav {
  padding: 0;
  background-color: white !important;
  z-index: 1000000;
}

header .wrap nav .navbar-brand {
  padding: 0 !important;
  position: relative !important;
}

@media (max-width: 1199.98px) {
  header .wrap nav .navbar-brand {
    position: relative !important;
    top: 0;
    left: 0;
  }
}

@media (max-width: 991.98px) {
  header .wrap nav .navbar-brand {
    position: absolute !important;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 24px;
    max-height: 305px;
    overflow-y: scroll;
  }
}

@media (max-width: 767.98px) {
  header .wrap .navbar-nav {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 24px;
  }
}

@media (max-width: 575.98px) {
  header .wrap .navbar-nav {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}

header .wrap .navbar-nav .nav-item {
  margin-left: 2%;
  margin-left: 0 !important;
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item:nth-child(6) {
    padding-top: 6px;
  }
}

@media (min-width: 992px) {
  header .wrap .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
  }
  header .wrap .navbar-nav .nav-item:hover .nav-link::after {
    transform: rotateX(180deg);
  }
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-toggle::after {
    right: 0;
    content: "\f105" !important;
  }
}

header .wrap .navbar-nav .nav-item .dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  border: none;
  font-weight: 900;
  transition: all 0.35s ease-in-out;
  position: absolute;
}

header .wrap .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  text-transform: uppercase;
  color: #333333;
  background-color: transparent !important;
  -webkit-transition: all 0.35s ease-in-out;
  letter-spacing: 0.06em;
  padding: 35px 15px;
  font-weight: 700;
}

@media (max-width: 1199.98px) {
  header .wrap .navbar-nav .nav-item .nav-link {
    padding: 35px 13px !important;
  }
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .nav-link {
    padding: 13px 0 !important;
  }
}

@media (max-width: 767.98px) {
  header .wrap .navbar-nav .nav-item .nav-link {
    padding: 13px 0 !important;
  }
}

header .wrap .navbar-nav .nav-item .dropdown-toggle {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
  color: #333333;
  background-color: transparent !important;
  -webkit-transition: all 0.35s ease-in-out;
  position: relative;
}

@media (max-width: 1199.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-toggle {
    padding: 35px 13px !important;
  }
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-toggle {
    padding: 13px 0 !important;
    color: #333333;
    background-color: transparent !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid 1px #e0e0e0;
  }
}

@media (max-width: 767.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-toggle {
    padding: 13px 0 !important;
    color: #333333;
    background-color: transparent !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid 1px #e0e0e0;
  }
}

header .wrap .navbar-nav .nav-item .dropdown-toggle:hover {
  color: #1ebeb6;
}

header .wrap .navbar-nav .nav-item .dropdown-menu {
  border: none !important;
  padding-bottom: 1px;
  padding-top: 0;
  border-radius: 4px;
  -webkit-transition: all 0.35s ease-in-out;
  animation: fadeIn .8s;
  position: absolute;
  top: 86px;
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-menu {
    position: static;
  }
}

header .wrap .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #333333;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 10px;
  border-bottom: solid 1px #f5f5f5;
  -webkit-transition: all 0.35s ease-in-out;
}

header .wrap .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #1ebeb6;
}

@media (max-width: 991.98px) {
  header .wrap .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    padding: 13px 13px !important;
    color: #333333;
    background-color: transparent !important;
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid 1px #f5f5f5;
  }
}

header .wrap .emergency-content {
  margin-top: 1%;
}

header .wrap .emergency-content ul {
  display: flex;
  margin-bottom: 0;
  justify-content: flex-end;
}

header .wrap .emergency-content ul li:nth-child(1) {
  margin-right: 13px;
}

header .wrap .emergency-content ul li:nth-child(1) i {
  font-size: 2.9rem;
  color: #1ebeb6;
}

header .wrap .emergency-content ul li:nth-child(2) {
  margin-bottom: 0;
}

header .wrap .emergency-content ul li:nth-child(2) p {
  text-transform: uppercase;
  font-size: 12px;
  color: #666666;
  font-weight: 600;
}

header .wrap .emergency-content ul li:nth-child(2) p strong {
  display: block;
  font-size: 18px;
  font-weight: 800 !important;
}

@media (max-width: 991.98px) {
  header .wrap .emergency-content {
    position: absolute;
    top: 21px;
    right: 0;
  }
}

@media (max-width: 767.98px) {
  header .wrap .emergency-content {
    display: none;
  }
}

header .page-logo .navbar-toggler {
  border: none !important;
  outline: none;
}

header .page-logo .navbar-toggler i {
  color: black !important;
}

@media (max-width: 991.98px) {
  header .page-logo .navbar-toggler {
    display: list-item;
  }
}

@media (max-width: 991.98px) {
  header .page-logo {
    padding: 31px 0;
  }
}

@media (max-width: 575.98px) {
  header .page-logo {
    padding-left: 15px;
  }
}

header .navbar-right ul {
  display: flex;
  margin-bottom: 0 !important;
}

header .navbar-right ul li {
  margin-right: 25px;
}

header .navbar-right ul li a {
  background-color: white;
  border: 2px solid #ebebeb;
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 56px;
  position: relative;
}

header .navbar-right ul li a span {
  position: absolute;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #c40316;
  border-radius: 50%;
  left: -12px;
  line-height: 25px;
  color: white;
  top: 25%;
}

header .navbar-right ul li a i {
  font-size: 1.3rem;
  color: #222;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.second-wrap {
  height: 100px;
  background: lightgray;
  justify-content: center;
  align-items: center;
  display: flex;
}

.second-wrap .brands {
  width: 20rem;
  float: left;
  position: relative;
  z-index: 10;
}

.second-wrap .brands .brands-btn {
  background: #C40316;
  color: #FFFFFF;
  padding: 0.9rem 1.2rem 0.9rem 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
}

.second-wrap .brands ul {
  padding-left: 0;
  position: absolute;
  z-index: 111;
  width: 100%;
  left: 0;
  top: 100%;
  border: 2px solid #ebebeb;
  background: #fff;
  margin-top: 3.1rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.second-wrap .brands ul li {
  background: #FFFFFF;
  padding: 0.6rem 0px 0.6rem 1.2rem;
}

.second-wrap .brands ul li a {
  color: #222222;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.second-wrap .search-container {
  margin-left: 8%;
  position: relative;
}

.second-wrap .search-container .searchText {
  width: 29rem;
  height: 55px;
  -webkit-border-radius: 3px;
  font-size: 1.1rem;
  border: 2px solid #ebebeb;
  z-index: 1;
  outline: none;
  padding-left: 32px;
  color: #222;
}

.second-wrap .search-container .btn-search {
  position: absolute;
  right: 0;
  top: 0;
}

.second-wrap .search-container .btn-search button {
  background: #C40316;
  border: none !important;
  padding: 0 1rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  text-shadow: none;
  line-height: 3.4rem;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: capitalize;
}

.second-wrap .specials {
  margin-left: 11%;
}

.second-wrap .specials a {
  float: right;
  width: 18rem;
  text-align: center;
  line-height: 3.4rem;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
}

:root {
  --space-unit:  1em;
}

:root, * {
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs:  calc(0.25 * var(--space-unit));
  --space-xxs:   calc(0.375 * var(--space-unit));
  --space-xs:    calc(0.5 * var(--space-unit));
  --space-sm:    calc(0.75 * var(--space-unit));
  --space-md:    calc(1.25 * var(--space-unit));
  --space-lg:    calc(2 * var(--space-unit));
  --space-xl:    calc(3.25 * var(--space-unit));
  --space-xxl:   calc(5.25 * var(--space-unit));
  --space-xxxl:  calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --component-padding: var(--space-md);
}

[data-theme] {
  background-color: var(--color-bg, white);
  color: var(--color-contrast-high, #313135);
}

:root {
  --picker-vertical-gap: 4px;
}

.language-picker {
  display: inline-block;
  position: relative;
}

.js .language-picker__form {
  display: none;
}

.language-picker__button .icon {
  height: 16px;
  width: 16px;
}

.language-picker__button .icon:first-of-type {
  margin-right: var(--space-xxxs);
}

.language-picker__button .icon:last-of-type {
  margin-left: var(--space-xxxs);
}

.language-picker__dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
  background-color: var(--color-bg);
  box-shadow: var(--shadow-md);
  padding: var(--space-xxs) 0;
  border-radius: var(--radius-md);
  z-index: var(--zindex-popover);
  margin-top: var(--picker-vertical-gap);
  margin-bottom: var(--picker-vertical-gap);
  --space-unit:  1rem;
  --text-unit: 1rem;
  font-size: var(--text-unit);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .2s, opacity .2s;
}

.language-picker__dropdown--right {
  right: 0;
  left: auto;
}

.language-picker__dropdown--up {
  bottom: 100%;
  top: auto;
}

.language-picker__button[aria-expanded="true"] + .language-picker__dropdown {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity .2s;
}

.language-picker__item {
  text-decoration: none;
  padding: var(--space-xs) var(--space-lg) var(--space-xs) var(--space-md);
  color: var(--color-contrast-high);
}

.language-picker__item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.language-picker__item:hover {
  background-color: var(--color-contrast-lower);
}

.language-picker__item:focus {
  outline: none;
  background-color: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.1);
}

.language-picker__item[aria-selected=true] {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.language-picker__item[aria-selected=true]:focus {
  outline: 2px solid hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);
}

.language-picker__item[aria-selected=true]::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  right: var(--space-sm);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='1.5' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.language-picker__flag {
  display: block;
  display: flex;
  align-items: center;
}

.language-picker__flag::before {
  display: none;
  flex-shrink: 0;
  content: '';
  height: 16px;
  width: 16px;
  margin-right: var(--space-xxs);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.language-picker__dropdown .language-picker__flag::before {
  margin-right: var(--space-xs);
}

.language-picker--flags .language-picker__flag::before {
  display: inline-block;
  display: inline-flex;
}

.language-picker--flags .language-picker__button .icon:first-of-type {
  display: none;
}

.language-picker__flag--deutsch::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M48,18H0V8c0-1.105,0.895-2,2-2h44c1.105,0,2,0.895,2,2V18z'/%3E%3Crect y='18' fill='%23EE0000' width='48' height='12'/%3E%3Cpath fill='%23FDCF00' d='M48,40c0,1.105-0.895,2-2,2H2c-1.105,0-2-0.895-2-2V30h48V40z'/%3E%3C/svg%3E");
}

.language-picker__flag--english::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23002781' d='M46,6H2C0.896,6,0,6.896,0,8v32c0,1.104,0.896,2,2,2h44c1.104,0,2-0.896,2-2V8C48,6.896,47.104,6,46,6z'/%3E%3Cpath fill='%23E6E6E6' d='M48,8c0-1.104-0.896-2-2-2h-5.161L28,15.876V6h-8v9.876L7.161,6H2C0.896,6,0,6.896,0,8v2.586L12.239,20H0v8 h12.239L0,37.415V40c0,1.104,0.896,2,2,2h5.161L20,32.124V42h8v-9.876L40.839,42H46c1.104,0,2-0.896,2-2v-2.585L35.761,28H48v-8 H35.761L48,10.586V8z'/%3E%3Cpolygon fill='%23D10D24' points='48,22 26,22 26,6 22,6 22,22 0,22 0,26 22,26 22,42 26,42 26,26 48,26 '/%3E%3Cpath fill='%23D10D24' d='M47.001,6.307L29.2,20h3.28L48,8.062V8C48,7.268,47.587,6.656,47.001,6.307z'/%3E%3Cpath fill='%23D10D24' d='M32.48,28H29.2l17.801,13.693C47.587,41.344,48,40.732,48,40v-0.062L32.48,28z'/%3E%3Cpath fill='%23D10D24' d='M15.52,28L0,39.938V40c0,0.732,0.413,1.344,0.999,1.693L18.8,28H15.52z'/%3E%3Cpath fill='%23D10D24' d='M15.52,20h3.28L0.999,6.307C0.413,6.656,0,7.268,0,8v0.062L15.52,20z'/%3E%3C/svg%3E");
}

.language-picker__flag--francais::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%2301209F' d='M16,42H2c-1.105,0-2-0.895-2-2V8c0-1.105,0.895-2,2-2h14V42z'/%3E%3Cpath fill='%23EF4234' d='M48,40c0,1.105-0.895,2-2,2H32V6h14c1.105,0,2,0.895,2,2V40z'/%3E%3Crect x='16' y='6' fill='%23E6E6E6' width='16' height='36'/%3E%3C/svg%3E");
}

.language-picker__flag--italiano::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23009345' d='M16,42H2c-1.105,0-2-0.895-2-2V8c0-1.105,0.895-2,2-2h14V42z'/%3E%3Cpath fill='%23CF2B36' d='M48,40c0,1.105-0.895,2-2,2H32V6h14c1.105,0,2,0.895,2,2V40z'/%3E%3Crect x='16' y='6' fill='%23E6E6E6' width='16' height='36'/%3E%3C/svg%3E");
}

.language-picker--hide-label .language-picker__button .icon {
  margin-left: 0;
}

.language-picker--hide-label .language-picker__button .icon:first-of-type {
  display: none;
}

.language-picker--hide-label .language-picker__button em {
  display: none;
}

.language-picker--hide-label .language-picker__button .language-picker__flag::before {
  margin-right: var(--space-xxxs);
}

.language-picker--hide-label .language-picker__flag::before {
  display: inline-block;
  display: inline-flex;
}

.navbar-top {
  border-bottom: 1px solid #ebebeb;
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-top .topbar {
  float: right !important;
}

.navbar-top .topbar ul {
  margin-bottom: 0 !important;
}

.navbar-top .topbar ul li {
  display: inline-block;
  margin-right: 15px;
}

.carousel-section {
  margin-top: 2%;
}

.site-guarantees {
  margin-top: 5%;
  padding: 100px 0;
  background-color: ghostwhite;
}

.site-guarantees h1 {
  text-align: center;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.site-guarantees .col-md-3 {
  padding: 0 !important;
}

.site-guarantees .icon-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #C40316;
  padding: 30px;
}

.site-guarantees .icon-area i {
  font-size: 3rem;
  color: #C40316;
}

.site-guarantees .icon-area p {
  margin-bottom: 0 !important;
  color: #222;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 15px;
}

.owl-carousel .wrapper {
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}

.owl-carousel .wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.owl-carousel .wrapper .container {
  width: 100%;
  height: 100%;
}

.owl-carousel .wrapper .container .top {
  height: 73%;
  width: 100%;
  background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
  background-size: 90%;
}

.owl-carousel .wrapper .container .bottom {
  width: 100%;
  height: 27%;
  text-align: center;
  transition: transform 0.5s;
}

.owl-carousel .wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}

.owl-carousel .wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}

.owl-carousel .wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}

.owl-carousel .wrapper .container .bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}

.owl-carousel .wrapper .container .bottom .left .details {
  padding: 20px;
  float: left;
  width: calc(70% - 40px);
}

.owl-carousel .wrapper .container .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}

.owl-carousel .wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}

.owl-carousel .wrapper .container .bottom .left .buy:hover {
  background: #A6CDDE;
}

.owl-carousel .wrapper .container .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: #00394B;
}

.owl-carousel .wrapper .container .bottom .right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}

.owl-carousel .wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}

.owl-carousel .wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}

.owl-carousel .wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}

.owl-carousel .wrapper .container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
}

.owl-carousel .wrapper .container .bottom .right .remove:hover {
  background: #9B2847;
}

.owl-carousel .wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}

.owl-carousel .wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}

.owl-carousel .wrapper .container .bottom .right:hover .remove, .owl-carousel .wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}

.owl-carousel .wrapper .inside {
  z-index: 9;
  background: #92879B;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.owl-carousel .wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.owl-carousel .wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}

.owl-carousel .wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.owl-carousel .wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.owl-carousel .wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}

.owl-carousel .wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}

.owl-carousel .wrapper .inside .contents h1, .owl-carousel .wrapper .inside .contents p, .owl-carousel .wrapper .inside .contents table {
  color: white;
}

.owl-carousel .wrapper .inside .contents p {
  font-size: 13px;
}

/* -------------------------------- 

File#: _1_language-picker
Title: Language Picker
Descr: A custom selector allowing users to choose their preferred language on a page
Usage: codyhouse.co/license

-------------------------------- */
